body {
  @include display-flex(column, stretch, stretch);
  width:      100%;
  min-height: 100%;
}

.mod-only-lg {
  @include w-to($screen-lg) {display: none !important;}
}

.mod-only-sm {
  @include w-from($screen-md) {display: none !important;}
}

.mod-to-md {
  @include w-from($screen-lg) {display: none !important;}
}

.mod-only-md {
  @include w-to($screen-md) {display: none !important;}
  @include w-from($screen-lg) {display: none !important;}
}

.mod-no-sm {
  @include w-to($screen-md) {display: none !important;}
}

.mod-no-md {
  @include w-to($screen-lg) {display: none !important;}
}

.mod-no-lg {
  @include w-from($screen-lg) {display: none !important;}
}

.mod-no-wrap {
  white-space: nowrap;
}

.rub {
  font-family: 'ALSRubl-Verdana', Verdana, sans-serif;
  font-weight: 400;
  font-style:  normal;
}

[v-cloak] {
  opacity: 0 !important;
}