// Размеры экрана
$screen-sm:            320px;
$screen-md:            768px;
$screen-lg:            1280px;

// Переходы

// Переходы для ховера
$transition-hover-on:  .1s;
$transition-hover-off: .30s;

// Шрифты
$font-family-default:  'Roboto', 'Helvetica', 'Arial', sans-serif;

// Цвета
$color-text-default:   black;
$color-link-hover:     green;