include ../../blocks/_mixins/icons
include ../../blocks/_mixins/image

doctype html
html(lang='ru')

  include ../includes/meta

  block vars
    body(itemscope itemtype="http://schema.org/WebPage" class=mod)
      script(src="scripts/debug.bundle.js")

      block header
        include ../../blocks/header/header

      block container

      block footer
        include  ../../blocks/footer/footer

      block scripts
        include ../includes/scripts


