.t-h1 {
  font:           bold 40px/72px $font-family-default;
  text-transform: uppercase;
}

.t-h2 {
  font:           bold 32px/48px $font-family-default;
  text-transform: uppercase;
}

.t-h3 {
  font: bold 24px/36px $font-family-default;
}


@for $i from 1 through 3 {
  h#{$i} {@extend .t-h#{$i};}
}


